<!--<div class="content">-->
<!--  <button></button>-->
<!--  &lt;!&ndash;todo: Лучше дериктивный или компонентный подход?&ndash;&gt;-->
<!--  <swiper class="swiper-container" [config]="config" >-->
<!--    <div class="swiper-slide">-->
<!--      <img src="{{recipe.imgSrc}}" alt="">-->
<!--      <a href="{{recipe.sourceUrl}}" class="dish-name">-->
<!--        {{recipe.title}}-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="swiper-slide">-->
<!--      <img src="{{recipe.imgSrc}}" alt="">-->
<!--      <a href="{{recipe.sourceUrl}}" class="dish-name">-->
<!--        {{recipe.title}}-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="swiper-slide">-->
<!--      <img src="{{recipe.imgSrc}}" alt="">-->
<!--      <a href="{{recipe.sourceUrl}}" class="dish-name">-->
<!--        {{recipe.title}}-->
<!--      </a>-->
<!--    </div>-->
<!--  </swiper>-->
<!--</div>-->
<button (click)="onClick()"></button>
