@import "src/app/shared/styles/mixins";

:host{
  @include base-shadow;
  background: #fdfafa;
  border-radius: 4px;
  width: 20%;

  mat-form-field{
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    .mat-form-field-wrapper{
      width: 100%;
    }
    mat-icon{
      cursor: pointer;
    }
  }
  .search-btn{
    width: 100%;
    margin-bottom: 0.7rem;
  }
}
